
.button {
  background-color: goldenrod;
  border: none;
  border-radius: 10px;
  color: floralwhite;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 8px 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:enabled:hover {
  background-color:darkred;
}

.wrapper {
  margin:0 auto;
  text-align: center;
  padding: 1rem;
  min-height: 100vh;
  background-color:cornsilk;
}

textarea {
  padding: 0.5rem;
  background-color: floralwhite;
  font-size: 20px;
}

.text {
  display: block;
  width: 100%;
  margin: 0.5rem auto 1rem;
  max-width: 30rem;
}

.key {
  font-size: 20px;
  padding-bottom: 1rem;
}

.keyText {
  font-size: 20px;
}

.popupBox {
  padding: 2rem;
  padding-top: 0.3rem;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: darkgray;
  width: 100%;
  margin:0.5rem auto;
  max-width: 30rem;
  background-color: floralwhite;
  font-size: 20px;
  word-break: break-all;
  animation-duration: 1s;
  animation-name: popup;
  box-shadow: 1rem black;
}

@keyframes popup {
  from {
    opacity:0%;
  }
  to {
    opacity:100%;
  }
}